* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.museum {
    display: flex;
    align-items: center;
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    color: rgb(129, 98, 79);
    text-shadow: 3px;
    }

.logoImage {
    display: flex;
    max-width: 240px;
}
.menu {
    display: flex;
    justify-content: flex-end;
}

.catalog, .contacts, .shop, .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 280px;
    background-color: rgb(129, 98, 79); 
    opacity: 0.5;
    }

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 253, 253);
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    }

.alladin, .jasmin {
    display: flex;
    height: 260px;
}
.rug {
    display: flex;
    height: 260px;
}

.lamp {
    display: flex;
    height: 180px;
}
.parrot {
    display: flex;
    height: 140px;
}

.parrot:hover {
    height: 180px;
}
.jasmin:hover {
    height: 330px;
}
.lamp:hover {
    height: 260px;
}

.rug:hover {
    height: 380px;
}